workflow-n8n-jarvis.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jarvis",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "9c1c4890-27f0-4449-b312-0d674a25538e",
      "name": "Webhook",
      "webhookId": "d757b46b-9e8f-42d0-aac5-015b9abd36b6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69723876-161c-4f6b-9302-7fb10a21e678",
              "name": "body.mensaje",
              "value": "={{ $json.body.mensaje }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "5bc143d3-8941-479c-939e-e28ff04b87b5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje del usuario: {{ $json.body.mensaje }}\nHora: {{ $now }}\n\nEres un asistente virtual, manten una conversación con el usuario\nSi hace una pregunta respondela, si no tienes ese conocimiento puedes buscar por internet con tu chat model de \"OpenAI Chat Model\" \n\nREGLAS:\n- Responde con un tono natural y amigable y como si fueras su propio asistente\n- Utiliza respuestas cortas, no te enrolles porque sino no puedes mantener una conversacion fluída\n\n\nREGLAS CRITICAS:\n- Quiero que los mensajes de respuesta sean MUY cortos, de no mas de 100 caracteres\n(a no ser que se pregunte por algo que hay que explicar mas detalladamente)\n- No uses emoticonos",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        448,
        0
      ],
      "id": "bb452a56-b904-4cbf-bf16-91715927213e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium"
          }
        },
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        352,
        176
      ],
      "id": "6c1734ce-026f-40b2-8b23-a0657ff182a8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "strr1Q339ClsqnWm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.headers['x-forwarded-for'] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        496,
        176
      ],
      "id": "bf36f5ff-ce77-464b-9fc8-0dedc97f853c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"respuesta\": $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        0
      ],
      "id": "39fd4146-69f1-4178-a68e-3517a091e8a9",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "c4c123b9-8974-42b4-9ea6-df01d11b79cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85cbfc08d07f982829d85308ee23b1ba0227e34db924b4476012d75c0057f0d9"
  },
  "id": "cClyMt9R8HUb4u97vW6w6",
  "tags": []
}